#map {
  height: 100vh;
}

.highlight {
  background: #e9ffe3;
}

.toolbox {
  height: 100vh;
  overflow-y: auto;
}
.toolbox li {
  cursor: pointer;
}

.tab {
  width: 20px;
  height: 50px;
  border: solid 1px red;
  position: absolute;
  z-index: 999;
  top: 123px;
  line-height: 50px;
  background-color: #fff;
  font-weight: 900;
  right: -20px;
}